
header{
	height: 100px;		
	box-shadow: 0 0 30px 5px #141414;
	padding: 20px;	
}

h1,h2{
	font-weight: bold;
}

h2{
	font-size:150%;
}
.container,.tab-content,.form-group{	
	margin-top:30px;	
}

li{
	margin: 2px;	
	text-align: center;	
	font-size: 18px;	
	background-color: rgb(220,220,220);
	border-radius: 3px;	
	width: 120px;		
}

.li-content{
	display: none;	
}

input{
	display: inline;	
}

@media (min-width: 768px){
	.li-content {
		display: inherit;		
	}
	h2{
		display: none;
	}
}